@font-face {
	font-family: 'Press Start 2P';
	src: url('./src/assets/PressStart2P.ttf') format('truetype');
}

body {
  font-family: 'Press Start 2P', Courier, monospace;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
  position: relative;
  background-image: url('./src/assets/bg.png');
  background-color: #352940;
  background-repeat: repeat-x;
  background-size: auto calc(100% - 48px - 64px);
  background-position-y: 48px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-font-smoothing: none;
  color: #fff;
}

canvas {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

canvas::selection {
  background: transparent;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
  line-height: 4rem;
  margin: 0;
}

h2 {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.5rem);
  line-height: clamp(1rem, 2vw + 0.25rem, 2.25rem);
}

h2 + h2 {
  margin-top: 0;
}

p {
  font-size: clamp(0.75rem, 1vw + 0.5rem, 1.125rem);
}

a {
  color: #20C20E;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

hr {
  border-style: dashed;
  width: 100%;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
  font: inherit;
  color: inherit;
  pointer-events: all;
}

input {
  font: inherit;
  font-size: 1em;
  display: block;
  padding: .5rem 1rem;
  line-height: 1.25rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  pointer-events: all;
  border-radius: 0;
}

form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  color: #000;
}

dialog {
  font: inherit;
  color: inherit;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 1px;
  box-shadow: #000 0 8px 24px 0;
  overflow: auto;
  line-height: 1.5; 
  padding: 2rem clamp(0.5rem, 2vw - 0.25rem, 2rem);
  position: relative;
}

dialog::backdrop {
  background: rgba(0 0 0 50%);
}

@media (max-width: 640px) {
  dialog {
      margin: auto;
      max-height: 66%;
      width: auto;
  }
}

@media (min-width: 640px) {
  dialog {
    min-width: 620px;
    max-width: 50%;
  }
}

dialog > .close {
  height: 1.5rem;
  width: 1.5rem;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0.25rem;
}

dialog > .close:hover,
dialog > .close:active {
  color: #adafbc;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  gap: 1rem;
}

.ui {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  gap: 2rem;
}

#start-ui > h1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

#disclaimer {
  font-size: 12px;
  padding: 0.75rem;
  margin: 0;
  text-align: center; 
}

#playing-ui {
  display: flex;
  position: fixed;
  top: 6rem;
  font-size: 34px;
  width: 100%;
  justify-content: center;
}

#scores {
  padding: 1rem;
  background-color: rgb(45 40 64 / 80%);
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

#table {
  display: none;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(10, 1fr);
  gap: 0 1rem;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 1vw + 0.5rem, 1.125rem);
}

#table > span:nth-child(3n + 2) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#error {
  display: none;
}

#sfx, #open-info {
  width: 3rem;
}

#sfx {
  background-image: url('./src/assets/sfx-on.png');
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: center 9px;
}

#sfx.muted {
  background-image: url('./src/assets/sfx-off.png');
}

#open-leaderboard, #replay {
  background-repeat: no-repeat;
  background-position: center 1px;
  padding: 0 2rem;
}

#open-leaderboard {
  background-image: url('./src/assets/leaderboard.png');
  background-size: 2.5rem;
}

#replay {
  background-image: url('./src/assets/replay.png');
  background-size: 2rem;
}

.loading::before,
.loading::after {
  content: '';
  position: fixed;
}

.loading::before {
  background: #352940;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.loading::after {
  top: 50%;
  left: calc(50% - 2rem);
  width: 4rem;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#fff 90%,#fff0) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l { to { clip-path: inset(0 -34% 0 0) } }

.loading > #start-ui,
.loading > #playing-ui,
.loading > #over-ui,
.loading > header,
.start > #playing-ui,
.start > #over-ui,
.playing > header,
.playing > #start-ui,
.playing > #over-ui,
.over > #start-ui,
.over > #playing-ui {
  display: none;
}

.over > canvas {
  cursor: default;
}

.pixelated {
  position: relative;
}

.pixelated::after,
.pixelated::before {
  content: '';
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}

.pixelated::after {
  top: -4px;
  left: 0;
  border-top: 4px solid currentcolor;
  border-bottom: 4px solid currentcolor;
}

.pixelated::before {
  top: 0;
  left: -4px;
  border-left: 4px solid currentcolor;
  border-right: 4px solid currentcolor;
}

button.pixelated,
.pixelated > input {
  color: #000;
  background-color: #fff;
  box-shadow: inset -4px -4px 0 0 #adafbc;
  height: 2.5rem;
  box-sizing: border-box;
}

button.pixelated {
  min-width: 2.5rem;
}

button.pixelated:focus-visible {
  box-shadow: inset -4px -4px 0 0 #adafbc, 0 0 6px 4px #20C20E;
}

button:disabled.pixelated,
.pixelated > input:disabled {
  cursor: not-allowed;
  color: rgba(0 0 0 50%);
  background-color: #d3d3d3;
}

button:not(:disabled):hover.pixelated,
button:not(:disabled):active.pixelated {
  background-color: #e7e7e7;
  box-shadow: inset -5px -5px 0 0 #adafbc;
}
